
@{
    ViewData["Title"] = "ForgetPasswordConfirmMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="color:aquamarine">Forget Password is succesful. A Password Change Confirmation Message Has Been Sent To Your Email ID</p>


