@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloodDonation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <script src="~/js/site.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
</head>

<body>
    <header>
        <div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div class="container">

                    <img src="~/css/Images/blood-donation-logo-symbol-concept-260nw-1718792794.jpg" style="border-radius:10px" width="100" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding-left:5px">BloodDonation</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="padding-top:18px">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="btn-group nav">
                                    <button type="button" class="btn navbar-btn" style="background-color: rgba(241, 39, 90, 0.3) "> Hello @User.Identity.Name</button>
                                </li>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Administration" asp-action="ListRole">List Roles</a>
                                    </li>
                                }
                                <li class="nav-link">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="GLogin">Login</a>
                                </li>
                                <li class="nav-link">
                                    <a class="nav-link" asp-controller="Home" asp-action="AllDetail" style="padding-top:2px">All Details</a>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <style>
        nav {
            background-color: rgba(225, 14, 67, 0.3)
        }
    </style>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BloodDonation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
