@model BloodDonation.Models.BloodDonor
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<div class="card">
    <div class="card-body">
        <link href="~/css/ProfileSheet.css" rel="stylesheet" />
        
        <img src="~/css/Images/photo-1534685785745-60a2cea0ec34.jpg" />
    </div>
    <div class="footer">
        <button type="button" >Edit</button>
    </div>

</div>

